.DS_Store
Thumbs.db

.env*
.venv/
env/
venv/
.vscode/

dbt_modules/
target/
logs/
dbt_packages/

.terraform/
*.tfstate
*.tfstate.*
crash.log

.ipynb_checkpoints/
*.log
*.tmp

build/
dist/
*.egg-info/

*.key
*.pem
credentials.json
service-account*.json

